/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espai entre el logotip i el títol */
}

.logo {
    width: 50px;
    height: auto;
}

.title {
    font-size: 24px;
    color: #4f76b6;
    margin: 0;
}

.user-info {
    text-align: right;
    font-size: 14px;
}

.welcome-message {
    font-family: 'Alegreya Sans';
    font-size: 25px;
    margin: 10px 0;
}

/* Main content */
.main-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Porta el contingut cap amunt */
    align-items: center;
    min-height: calc(100vh - 80px); /* Ajusta segons l'altura del header */
}

h2 {
    margin-bottom: 30px; /* Espai entre el text i el formulari */
}

/* Formulari centrat */
form {
    max-width: 400px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Caixa de càrrega */
.upload-box {
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

.upload-box:hover {
    border-color: #4f76b6;
}

.upload-icon {
    width: 50px;
    margin-bottom: 10px;
}

.upload-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

#file-upload {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Botons */
.submit-button {
    display: block;
    width: 100%;
    background-color: #4f76b6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.submit-button:hover {
    background-color: #3a5c91;
}

.back-button {
    display: block;
    width: 100%;
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.back-button:hover {
    background-color: #f2f2f2;
}
.file-name {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    font-style: italic;
}
