<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Els meus registres mèdics</title>
</head>
<body>
    <h1>Els meus Registres Mèdics</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Diagnòstic</th>
                <th>Tractament</th>
                <th>Notes del metge</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.diagnosis }}</td>
                <td>{{ record.treatment }}</td>
                <td>{{ record.doctor_notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('welcome', username=username) }}">Torna al menú principal</a>
</body>
</html>
