<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeniorLife</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='seniorlife.css') }}">
</head>
<body class="container">
    <div class="logo-container">
        <img src="{{ url_for('static', filename='resources/logo-modified.png') }}" alt="SeniorLife Logo" class="logo">
    </div>
    <h1 class="title">SeniorLife</h1>
    
    <div class="access-container">
        <h2 class="subtitle">Accedir a SeniorLife</h2>
        <h3 class="description">Crea un compte gratuït per unir-te a la família de SeniorLife</h3>
        <a href="{{ url_for('login') }}" class="button">Accedir amb correu electrònic</a>
    </div>
</body>
</html>


