<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='resources/logo-modified.png') }}" alt="SeniorLife Logo" class="logo">
            <h1 class="title">SeniorLife</h1>
        </div>
        <form method="POST" class="register-form">
            <h2 class="form-title">Crea un Compte</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <input type="text" id="username" name="username" placeholder="Nom" required>
            <input type="text" id="surname" name="surname" placeholder="Cognoms" required>
            <input type="email" id="email" name="email" placeholder="Correu Electrònic" required>
            <input type="email" id="email2" name="email2" placeholder="Repeteix el Correu" required>
            <input type="password" id="password" name="password" placeholder="Contrasenya (8 dígits)" required>
            <input type="number" id="age" name="age" placeholder="Edat (18-120)" min="18" max="120" required>
            <button type="submit">Crear Compte</button>
            <p class="terms">
                Creant un compte, acceptes els <a href="#">Termes de Servei</a> i la <a href="#">Política de Privacitat</a>.
            </p>
            <p class="login-link"><a href="{{ url_for('login') }}">Ja tens un compte?</a></p>
        </form>
    </div>
</body>
</html>
