<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrega document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='resources/logo-modified.png') }}" alt="SeniorLife Logo" class="logo">
            <h1 class="title">SeniorLife</h1>
        </div>
        <div class="user-info">
            <p class="welcome-message">Benvingut/da {{ username }}! 👋</p>
        </div>
    </header>

    <!-- Contingut Principal -->
    <main class="main-content">
        <h2>Importa el fitxer del teu historial mèdic:</h2>
        <form action="{{ url_for('upload', username=username) }}" method="POST" enctype="multipart/form-data">
            <div class="upload-box">
                <img id="upload-icon" src="{{ url_for('static', filename='resources/upload-file.webp') }}" alt="Icona de càrrega" class="upload-icon">
                <p id="upload-message" class="upload-label">Escull un fitxer per pujar</p>
                <input id="file-upload" type="file" name="file" accept=".pdf,.doc,.docx,.txt" required onchange="updateFileStatus()">
                <p id="file-name" class="file-name">Cap fitxer seleccionat</p>
            </div>
            <button type="submit" class="submit-button">Continuar</button>
            <button type="button" class="back-button" onclick="window.history.back()">Tornar enrere</button>
        </form>        
        
        
    </main>
    <script>
        function updateFileStatus() {
            const fileInput = document.getElementById('file-upload');
            const fileName = document.getElementById('file-name');
            const uploadIcon = document.getElementById('upload-icon');
            const uploadMessage = document.getElementById('upload-message');
    
            if (fileInput.files.length > 0) {
                fileName.textContent = fileInput.files[0].name; // Mostra el nom del fitxer
                uploadIcon.src = "{{ url_for('static', filename='resources/tick.png') }}"; // Canvia a un tick verd
                uploadMessage.textContent = 'Fitxer pujat correctament!'; // Actualitza el missatge
            } else {
                fileName.textContent = 'Cap fitxer seleccionat'; // Missatge per defecte
                uploadIcon.src = "{{ url_for('static', filename='resources/upload-file.webp') }}"; // Restaura la icona original
                uploadMessage.textContent = 'Escull un fitxer per pujar'; // Missatge inicial
            }
        }
    </script>
    
    
</body>
</html>
