<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvingut</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Benvingut, {{ username }}!</h1>
    <p>Has iniciat sessió correctament.</p>
</body>

<nav>
    <a href="{{ url_for('appointments') }}">Cites Mèdiques</a> |
    <a href="{{ url_for('medical_records') }}">Registres Mèdics</a> |
    <button onclick="window.history.back()">Tancar sessió</button>

</nav>

</html>
